{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-console": 1,
    "no-debugger": 1,
    "no-extra-boolean-cast": 1,
    "no-unused-vars": 1,
    "no-empty-function": 1,
    "no-useless-escape": 0,
    "no-async-promise-executor": 0
  }
}
